body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #156f68;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding: 18px 0;
  justify-content: left;
  font-size: calc(15px + 2vmin);
  color: rgb(218, 218, 218);
  text-align: center;
  text-shadow: 0px 9px 6px rgb(70, 70, 70);
  box-shadow: 1px 1px 7px rgb(66, 77, 65);
  background-color: teal;
  }

  .tit{
    font-size: 20px;
    margin-top: 15%;
    text-align: center;
  }

  h3{
    font-size: 120%;
    margin-left: 2%;
    color: rgb(218, 218, 218);
  }
  .shop {
    font-family: Al Nile;
    margin-left: 83%;
    background-color: #156f68;
    color: white;
    box-shadow: 4px 2px 0px rgb(80, 80, 80);
    }
.shop:hover{
  transform: translateY(-1px);
  box-shadow: 5px 9px 6px rgb(0, 0, 0);
  border-top-color: rgba(0, 0, 0, 0);
}

  .models {
    font-size: 11px;
    font-family: Lucida Grande;
    color: rgb(218, 218, 218);
    margin-left: 2%;
    width: 13%;
    text-shadow: 0px 9px 6px rgb(74, 74, 74);
    box-shadow: 5px 9px 9px rgb(26, 84, 85);
    border-radius: 8px;
    height: 12%;
    background-color: teal;
    }
    .links {
      font-size: 14px;
      text-decoration:none;
      font-family: Lucida Grande;
      color: rgb(218, 218, 218);
      margin-left: 2%;
      width: 13%;
      text-shadow: 0px 9px 6px rgb(74, 74, 74);
      box-shadow: 5px 9px 9px rgb(26, 84, 85);
      border-radius: 8px;
      height: 12%;
      background-color: teal;
      }
      h4{
        margin-left: 2%;
        color: rgb(218, 218, 218);
      }
      .brands {
        font-size: 11px;
        text-decoration:none;
        font-family: Lucida Grande;
        color: rgb(218, 218, 218);
        margin-left: 2%;
        width: 13%;
        text-shadow: 0px 9px 6px rgb(74, 74, 74);
        box-shadow: 5px 9px 9px rgb(26, 84, 85);
        border-radius: 8px;
        height: 12%;
        background-color: teal;
        }
.list{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: -45%;
  }

.mobile1 {
  text-align: center;
  font-size: 11px;
  font-family: PT Mono;
  box-shadow: 4px 9px 6px rgb(80, 80, 80);
  background-color: white;
  border-radius: 8px;
  color: rgb(0, 80, 80);
  }
.mobile1:hover{
  transform: translateY(-1px);
  box-shadow: 5px 9px 6px rgb(0, 0, 0);
  border-top-color: rgba(0, 0, 0, 0);


}
.button1 {
  background-color: #CDCDCD;
  box-shadow: 0px 5px 9px rgb(70, 70, 70);
  font-family: Lucida Grande;
  }

.button1:hover{
  background-color:grey ;
  box-shadow: 0px 9px 6px rgb(70, 70, 70);
  
} 

  .mobile2 {
    text-align: center;
    font-size: 11px;
    font-family: PT Mono;
    box-shadow: 4px 9px 6px rgb(80, 80, 80);
    background-color: white;
    border-radius: 8px;
    color: rgb(0, 80, 80);
    margin-top: 4%;
    }
    .mobile2:hover{
      transform: translateY(-1px);
      box-shadow: 5px 9px 6px rgb(0, 0, 0);
      border-top-color: rgba(0, 0, 0, 0);
    }
    .button2 {
      background-color: #CDCDCD;
      font-family: Lucida Grande;
      box-shadow: 0px 5px 9px rgb(70, 70, 70);
    }
    .button2:hover{
      background-color:grey ;
      box-shadow: 0px 9px 6px rgb(70, 70, 70);
      
    } 

  .mobile3 {
    text-align: center;
    font-size: 11px;
    font-family: PT Mono;
    box-shadow: 4px 9px 6px rgb(80, 80, 80);
    background-color: white;
    border-radius: 8px;
    color: rgb(0, 80, 80);
    margin-top: 4%;
    }
    .mobile3:hover{
      transform: translateY(-1px);
      box-shadow: 5px 9px 6px rgb(0, 0, 0);
      border-top-color: rgba(0, 0, 0, 0);
    }
    .button3 {
      background-color: #CDCDCD;
      font-family: Lucida Grande;
      box-shadow: 0px 5px 9px rgb(70, 70, 70);
    }
    .button3:hover{
      background-color:grey ;
      box-shadow: 0px 9px 6px rgb(70, 70, 70);
      
    } 
  .mobile4 {
    text-align: center;
    font-size: 11px;
    font-family: PT Mono;
    box-shadow: 4px 9px 6px rgb(80, 80, 80);
    background-color: white;
    border-radius: 8px;
    color: rgb(0, 80, 80);
    margin-top: 4%;
    }
    .mobile4:hover{
      transform: translateY(-1px);
      box-shadow: 5px 9px 6px rgb(0, 0, 0);
      border-top-color: rgba(0, 0, 0, 0);
    }
    .button4 {
      background-color: #CDCDCD;
      font-family: Lucida Grande;
      box-shadow: 0px 5px 9px rgb(70, 70, 70);
    }
    .button4:hover{
      background-color:grey ;
      box-shadow: 0px 9px 6px rgb(70, 70, 70);
      
    } 
  .mobile5 {
    text-align: center;
    font-size: 11px;
    font-family: PT Mono;
    box-shadow: 4px 9px 6px rgb(80, 80, 80);
    background-color: white;
    border-radius: 8px;
    color: rgb(0, 80, 80);
    margin-top: 4%;
    }
    .mobile5:hover{
      transform: translateY(-1px);
      box-shadow: 5px 9px 6px rgb(0, 0, 0);
      border-top-color: rgba(0, 0, 0, 0);
    }


    .button5 {
      background-color: #CDCDCD;
      font-family: Lucida Grande;
      box-shadow: 0px 5px 9px rgb(70, 70, 70);
    }
    .button5:hover{
      background-color:grey ;
      box-shadow: 0px 9px 6px rgb(70, 70, 70);
      
    } 
  .mobile6 {
    text-align: center;
    font-size: 11px;
    font-family: PT Mono;
    box-shadow: 4px 9px 6px rgb(80, 80, 80);
    background-color: white;
    border-radius: 8px;
    color: rgb(0, 80, 80);
    margin-top: 4%;
    }
    .mobile6:hover{
      transform: translateY(-1px);
      box-shadow: 5px 9px 6px rgb(0, 0, 0);
      border-top-color: rgba(0, 0, 0, 0);
    }
    .button6 {
      background-color: #CDCDCD;
      font-family: Lucida Grande;
      box-shadow: 0px 5px 9px rgb(70, 70, 70);
    }
    .button6:hover{
      background-color:grey ;
      box-shadow: 0px 9px 6px rgb(70, 70, 70);
      
    } 
  .mobile7 {
    text-align: center;
    font-size: 11px;
    font-family: PT Mono;
    box-shadow: 4px 9px 6px rgb(80, 80, 80);
    background-color: white;
    border-radius: 8px;
    color: rgb(0, 80, 80);
    margin-top: 4%;
    }
    .mobile7:hover{
      transform: translateY(-1px);
      box-shadow: 5px 9px 6px rgb(0, 0, 0);
      border-top-color: rgba(0, 0, 0, 0);
    }

    .button7 {
      background-color: #CDCDCD;
      font-family: Lucida Grande;
      box-shadow: 0px 5px 9px rgb(70, 70, 70);
    }
    .button7:hover{
      background-color:grey ;
      box-shadow: 0px 9px 6px rgb(70, 70, 70);
      
    } 
  .mobile8 {
    text-align: center;
    font-size: 11px;
    font-family: PT Mono;
    box-shadow: 4px 9px 6px rgb(80, 80, 80);
    background-color: white;
    border-radius: 8px;
    color: rgb(0, 80, 80);
    margin-top: 4%;
    }
    .mobile8:hover{
      transform: translateY(-1px);
      box-shadow: 5px 9px 6px rgb(0, 0, 0);
      border-top-color: rgba(0, 0, 0, 0);
    }
    .button8 {
      background-color: #CDCDCD;
      font-family: Lucida Grande;
      box-shadow: 0px 5px 9px rgb(70, 70, 70);
    }
    .button8:hover{
      background-color:grey ;
      box-shadow: 0px 9px 6px rgb(70, 70, 70);
      
    } 
  
  .mobile9 {
    text-align: center;
    font-size: 11px;
    font-family: PT Mono;
    box-shadow: 4px 9px 6px rgb(80, 80, 80);
    background-color: white;
    border-radius: 8px;
    color: rgb(0, 80, 80);
    margin-top: 4%;
    }
    .mobile9:hover{
      transform: translateY(-1px);
      box-shadow: 5px 9px 6px rgb(0, 0, 0);
      border-top-color: rgba(0, 0, 0, 0);
    }
    .button9 {
      background-color: #CDCDCD;
      font-family: Lucida Grande;
      box-shadow: 0px 5px 9px rgb(70, 70, 70);
    }
    .button9:hover{
      background-color:grey ;
      box-shadow: 0px 9px 6px rgb(70, 70, 70);
      
    } 

    .contact{
      text-align: center;
      color: white;
      font-size: 20px;
    }  
    .name{
      margin-left: 42.5%;
      width: 15%;
    }
    .surname{
      margin-left: 42.5%;
      width: 15%;
    }
  
    .comments{
      margin-left: 42.5%;
      width: 15%;
      height: 30%;
    } 
    .but{
      margin-left: 42.5%;
      width: 15.5%;
    }

footer {
  padding: 40px 0;
  text-align: center;
  font-size: 13px;
  color: rgb(218, 218, 218);
  margin-bottom: 0;
  text-shadow: 0px 9px 6px rgb(70, 70, 70);
  margin-top: 4%;
  background-color: rgb(0, 51, 57);
  }