
h1{
  font-size: 20px;
  text-align: center;
}
.mobiles{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
.mobile1{
  margin-left: 25%;
}
.mobile2{
  margin-left: 50%;
}
.mobile3{
  margin-left: 75%; 
}
.mobile4{
  margin-left: 25%;
}
.mobile5{
  margin-left: 50%;
}
.mobile6{
  margin-left: 75%;
}
.mobile7{
  margin-left: 25%; 
}
.mobile8{
  margin-left: 50%; 
}
.mobile9{
  margin-left: 75%; 
}