body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #415D43;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding: 18px 0;
  justify-content: left;
  font-size: calc(15px + 2vmin);
  color: rgb(218, 218, 218);
  text-align: center;
  text-shadow: 0px 9px 6px rgb(70, 70, 70);
  box-shadow: 1px 1px 7px rgb(66, 77, 65);
  }

  .tit{
    font-size: 20px;
    margin-top: 15%;
    text-align: center;
  }

  h3{
    margin-left: 2%;
    color: rgb(218, 218, 218);
  }
  h5{
    text-align: right;
    color: black;
  }

  .models {
    font-size: 11px;
    font-family: Lucida Grande;
    color: rgb(218, 218, 218);
    margin-left: 2%;
    width: 12%;
    text-shadow: 0px 9px 6px rgb(45, 45, 45);
    box-shadow: 5px 9px 9px rgb(66, 77, 65);
    border-radius: 8px;
    height: 12%;
    }
    .links {
      font-size: 14px;
      text-decoration:none;
      font-family: Lucida Grande;
      color: rgb(218, 218, 218);
      margin-left: 2%;
      width: 12%;
      text-shadow: 0px 9px 6px rgb(45, 45, 45);
      box-shadow: 5px 9px 9px rgb(66, 77, 65);
      border-radius: 8px;
      height: 12%;
      }
.list{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: -23%;
  }

.mobile1 {
  text-align: center;
  font-size: 11px;
  font-family: Lucida Grande;
  box-shadow: 3px 7px 9px black;
  background-color: white;
  border-radius: 8px;
  }
.mobile1:hover{
  transform: translateY(-1px);
  box-shadow: 0px 9px 6px rgb(0, 0, 0);
  border-top-color: rgba(0, 0, 0, 0);


}
.button1 {
  background-color: #CDCDCD;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0px 5px 9px rgb(70, 70, 70);
}
.button1:hover{
  background-color:grey ;
  box-shadow: 0px 9px 6px rgb(70, 70, 70);
  
} 

  .mobile2 {
    text-align: center;
    font-size: 11px;
    font-family: Lucida Grande;
    box-shadow: 0px 7px 9px black;
    background-color: white;
    border-radius: 8px;
    }
    .mobile2:hover{
      transform: translateY(-1px);
      box-shadow: 0px 9px 6px rgb(0, 0, 0);
      border-top-color: rgba(0, 0, 0, 0);
    }
    .button2 {
      background-color: #CDCDCD;
      font-family: 'Courier New', Courier, monospace;
      box-shadow: 0px 5px 9px rgb(70, 70, 70);
    }
    .button2:hover{
      background-color:grey ;
      box-shadow: 0px 9px 6px rgb(70, 70, 70);
      
    } 

  .mobile3 {
    text-align: center;
    font-size: 11px;
    font-family: Lucida Grande;
    box-shadow: 0px 7px 9px black;
    background-color: white;
    border-radius: 8px;
    }
    .mobile3:hover{
      transform: translateY(-1px);
      box-shadow: 0px 9px 6px rgb(0, 0, 0);
      border-top-color: rgba(0, 0, 0, 0);
    }
    .button3 {
      background-color: #CDCDCD;
      font-family: 'Courier New', Courier, monospace;
      box-shadow: 0px 5px 9px rgb(70, 70, 70);
    }
    .button3:hover{
      background-color:grey ;
      box-shadow: 0px 9px 6px rgb(70, 70, 70);
      
    } 
  .mobile4 {
    text-align: center;
    font-size: 11px;
    font-family: Lucida Grande;
    box-shadow: 0px 7px 9px black;
    background-color: white;
    border-radius: 8px;
    }
    .mobile4:hover{
      transform: translateY(-1px);
      box-shadow: 0px 9px 6px rgb(0, 0, 0);
      border-top-color: rgba(0, 0, 0, 0);
    }
    .button4 {
      background-color: #CDCDCD;
      font-family: 'Courier New', Courier, monospace;
      box-shadow: 0px 5px 9px rgb(70, 70, 70);
    }
    .button4:hover{
      background-color:grey ;
      box-shadow: 0px 9px 6px rgb(70, 70, 70);
      
    } 
  .mobile5 {
    text-align: center;
    font-size: 11px;
    font-family: Lucida Grande;
    box-shadow: 0px 7px 9px black;
    background-color: white;
    border-radius: 8px;
    }
    .mobile5:hover{
      transform: translateY(-1px);
      box-shadow: 0px 9px 6px rgb(0, 0, 0);
      border-top-color: rgba(0, 0, 0, 0);
    }


    .button5 {
      background-color: #CDCDCD;
      font-family: 'Courier New', Courier, monospace;
      box-shadow: 0px 5px 9px rgb(70, 70, 70);
    }
    .button5:hover{
      background-color:grey ;
      box-shadow: 0px 9px 6px rgb(70, 70, 70);
      
    } 
  .mobile6 {
    text-align: center;
    font-size: 11px;
    font-family: Lucida Grande;
    box-shadow: 0px 7px 9px black;
    background-color: white;
    border-radius: 8px;
    }
    .mobile6:hover{
      transform: translateY(-1px);
      box-shadow: 0px 9px 6px rgb(0, 0, 0);
      border-top-color: rgba(0, 0, 0, 0);
    }
    .button6 {
      background-color: #CDCDCD;
      font-family: 'Courier New', Courier, monospace;
      box-shadow: 0px 5px 9px rgb(70, 70, 70);
    }
    .button6:hover{
      background-color:grey ;
      box-shadow: 0px 9px 6px rgb(70, 70, 70);
      
    } 
  .mobile7 {
    text-align: center;
    font-size: 11px;
    font-family: Lucida Grande;
    box-shadow: 0px 7px 9px black;
    background-color: white;
    border-radius: 8px;
    }
    .mobile7:hover{
      transform: translateY(-1px);
      box-shadow: 0px 9px 6px rgb(0, 0, 0);
      border-top-color: rgba(0, 0, 0, 0);
    }

    .button7 {
      background-color: #CDCDCD;
      font-family: 'Courier New', Courier, monospace;
      box-shadow: 0px 5px 9px rgb(70, 70, 70);
    }
    .button7:hover{
      background-color:grey ;
      box-shadow: 0px 9px 6px rgb(70, 70, 70);
      
    } 
  .mobile8 {
    text-align: center;
    font-size: 11px;
    font-family: Lucida Grande;
    box-shadow: 0px 7px 9px black;
    background-color: white;
    border-radius: 8px;
    }
    .mobile8:hover{
      transform: translateY(-1px);
      box-shadow: 0px 9px 6px rgb(0, 0, 0);
      border-top-color: rgba(0, 0, 0, 0);
    }
    .button8 {
      background-color: #CDCDCD;
      font-family: 'Courier New', Courier, monospace;
      box-shadow: 0px 5px 9px rgb(70, 70, 70);
    }
    .button8:hover{
      background-color:grey ;
      box-shadow: 0px 9px 6px rgb(70, 70, 70);
      
    } 
  
  .mobile9 {
    text-align: center;
    font-size: 11px;
    font-family: Lucida Grande;
    box-shadow: 0px 7px 9px black;
    background-color: white;
    border-radius: 8px;
    }
    .mobile9:hover{
      transform: translateY(-1px);
      box-shadow: 0px 9px 6px rgb(0, 0, 0);
      border-top-color: rgba(0, 0, 0, 0);
    }
    .button9 {
      background-color: #CDCDCD;
      font-family: 'Courier New', Courier, monospace;
      box-shadow: 0px 5px 9px rgb(70, 70, 70);
    }
    .button9:hover{
      background-color:grey ;
      box-shadow: 0px 9px 6px rgb(70, 70, 70);
      
    } 

    .contact{
      text-align: center;
      color: white;
      font-size: 20px;
    }  
    .name{
      margin-left: 42.5%;
      width: 15%;
    }
    .surname{
      margin-left: 42.5%;
      width: 15%;
    }
  
    .comments{
      margin-left: 42.5%;
      width: 15%;
      height: 30%;
    } 
    .but{
      margin-left: 42.5%;
      width: 15%;
    }

footer {
  padding: 40px 0;
  text-align: center;
  font-size: 13px;
  color: rgb(218, 218, 218);
  margin-bottom: 0;
  text-shadow: 0px 9px 6px rgb(70, 70, 70);
  margin-top: 4%;
  }